
  
  .product-filter-sidebar {
    flex: 1;
    width: 200px;
    padding: 20px;
    padding-top: 2rem;
    background-color: #f8f8f8;
    border-right: 1px solid #ddd;

  }


  .filter-group {
    margin: 20px 0;
    border-bottom: 1px solid #ddd;
    padding-bottom: 15px ;
  }
  
  .filter-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: 400;
  }
  
  .filter-group select {
    width: 100%;
    background-color: #f8f8f8;
    border: 0;
    outline: none;
    cursor: pointer;
    font-size: 18px;
    color: rgb(92, 91, 91);
  }


  .custom-select option {
    background-color:#f8f8f8;
    color: rgb(92, 91, 91);
    padding: 5px;  
  }
  
 




  .checkbox-group {
    border-bottom: 1px solid #ddd;
    margin-bottom: 15px;
  }
  
  .checkbox-group label {
    display: block;
    font-weight: 400;
  }
  


  .custom-checkbox {
  width: 20px;
  height: 20px;
}

/* Optional: Adjust the checkbox appearance */
.custom-checkbox {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  background-color: #fff;
  border: 2px solid #00000089;
  border-radius: 3px;
  outline: none;
  cursor: pointer;
  margin-right: 5px;
}

.custom-checkbox:checked {
  background-color: #000000e1;
  border-color: #000000e1;
}

.custom-checkbox:checked::before {
  content: '✔';
  display: block;
  color: white;
  font-size: 16px;
  text-align: center;
  line-height: 20px;
}



@media (max-width: 740px) {
  .product-filter-sidebar {
    flex: .8;
    width: 200px;
    padding: 20px;
    padding-top: 2rem;
    background-color: #f8f8f8;
    border-right: 1px solid #ddd;
  }


}


@media (max-width: 720px) {
  .product-filter-sidebar {
    flex: .5;
  }
  

  
  .checkbox-group label {
    display: block;
    font-weight: 300;
    font-size: 16px;
  }
  

  .custom-checkbox {
  width: 18px;
  height: 18px;
}



 
.filter-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: 300;
}

.filter-group select {
  font-size: 16px;
  color: rgb(92, 91, 91);
}

 


}


@media (max-width: 550px) {
  .product-filter-sidebar {
     display: none;
  }
}

